<h1>Welcome, <%=@user.username%> </h1>

<h3>Recipes</h3>

<ul>
  <% Recipe.all.each do |recipe| %>
    <li>
      <a href="/recipes/<%=recipe.id%>"><%= recipe.name %></a>
    </li>
    <br>
  <% end %>
</ul>
<p>Don't see anything you like?</p>
<a href="/recipes/new"><button type="button">Create New Recipe</button></a>
