<h1>Welcome back</h1>
<p>Log in to get started!</p>

<form action="/login" method="post">

  <label for="username">Username: </label>
  <abbr title="required">*</abbr>
  <input type="text" class="text-field-input" id="username" name="username" required>

  <label for="password">Password: </label>
  <abbr title="required">*</abbr>
  <input type="password" class="text-field-input" id="password" name="password" required>

  <button type="submit">Log In</button>
</form>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
