<h1>We're exited you're joining us!</h1>
<p>Signup by filling out the form below</p>

<form action="/signup" method="post">
  <p>
    <input type="text" id="username "name="username" placeholder="Username" required>
  </p>
  <p>
    <input type="email" id="email "name="email" placeholder="Email" required>
  </p>
  <p>
    <input type="password" id="password "name="password" placeholder="Password" required>
  </p>
  <br><br>
  <button type="submit">Submit</button>
</form>
