<h1>Welcome to Mangez</h1>

<p>Save recipes, plan meals, and generate your shopping list</p>
<figure>
  <img src="/images/home_page_curry.jpg" alt="Lentil curry with cherry tomatoes" height="450" width="700" >
  <figcaption>Bon appétit</figcaption>
</figure>
